---
import HeaderLink from './HeaderLink.astro';
import {SITE_TITLE} from '../consts';
const backgroundImage = "/image.jpg";
---
<header class="bg-gradient-to-r bg-gray-400/20">
    <div class="container mx-auto h-full flex items-end justify-evenly pt-1 mb-1">
        <h1 class="basis- text-black font-blog font-bold"><a href="/">{SITE_TITLE}</a></h1>
        <div class="internal-links basis-1/6 text-black flex flex-row items-center justify-between">
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/blog">Tags</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="basis-1/6 flex flex-row items-center justify-evenly ">
            <a href=""><img class="w-6" src="/github-mark.png"/> </a>
            <a href=""><img class="w-6" src="/Instagram_Glyph_Gradient.png"/></a>
            <a href=""><img class="w-6" src="/Facebook_Logo_Primary.png"/></a>
            <a href=""><img class="w-6" src="/logo-black.png"/> </a>
        </div>
    </div>
    <div class="bg-cover bg-center h-64" style={`background-image: url(${backgroundImage})`}>
    </div>
</header>
