---
import {getCollection} from "astro:content";
const posts = (await getCollection('blog')).filter(post => post.date <= new Date()).sort((a, b) => b.date - a.date).slice(0, 5);
---
<h1>Recent Posts</h1>
<ul>
    {
        posts.map(post => {
            return (
                <li>
                    <h3>{post.title}</h3>
                    <p>{post.body}</p>
                </li>
            )
        })
    }
</ul>