---
import {getCollection} from "astro:content";
const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---
<h6>Recent Posts</h6>
<ul>
    {
        posts.map(post => {
            return (
                <li>
                    <h3>{post.data.title}</h3>
                    <p>{post.body}</p>
                </li>
            )
        })
    }
</ul>